<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVER DISEASE DETECTION</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='predict_style.css') }}">
  </head>


  <body>
    <div class="container">
      <form action="{{ url_for('predict')}}" method="POST">
        <h2 class='container-heading'><span class="heading_font">LIVER DISEASE DETECTION</span></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Result -->
        <div class="results"> 
          {% if prediction==2 %} 
          <h1><span class='danger'>Oops! 🙁 <br>
              <br>You have LIVER DISEASE <br>
              <br>Please Consult a Doctor. </span></h1> 
          
          {% elif prediction==1 %}
          <h1><span class='safe'> Congratulation! <br>
              <br>You DON'T have LIVER DISEASE. </span></h1>
          {% endif %}
        </div>
        
      </form>
    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p class='footer-description'>©2024 Sahnkar Kumawat</p>
    </div>
  </body>
</html>